node_modules
.DS_Store

# Ignorar el contenido de carpetas temporales pero mantener las carpetas
/json/*
/origen/*
/media/*

# No ignorar los archivos .gitkeep
!*/json/.gitkeep
!*/origen/.gitkeep
!*/media/.gitkeep