node_modules
.DS_Store

# Ignorar contenido de carpetas temporales
/json/*
/origen/*
/media/*
/src/uploads*

# No ignorar archivos .gitkeep
!json/.gitkeep
!origen/.gitkeep
!media/.gitkeep
!src/uploads/.gitkeep